.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
li {
  list-style-type: none;
}
a{
  text-decoration: none;
}
.header {
  border: 1px solid red;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding-left: 64px;
  position: relative;
  margin-bottom: 100px;
}
.logo {
}

.logo_place_header {
  border: 1px solid red;
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
  z-index: 1;
}

.header__title {
  border: 1px solid red;
  display: flex;
  align-items: flex-start;
  width: 730px;
  line-height: 96px;
  font-weight: 700;
  font-size: 102px;
  left: 64px;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  border: 1px solid red;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  width: 568;
  height: 568;
  background-color: #2f80ed;
  z-index: 0;
}
.header__main-illustration {
  border: 1px solid red;
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.header__subtitle {
  border: 1px solid red;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  text-align: left;
  line-height: 25px;
  margin-right: 64px;
}
.header__link {
  line-height: 25px;
  color: #2f80ed;
  text-decoration: none;
}

.description {
  border: 1px solid red;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 80%;
}

.description__two-columns {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__two-columns_brief {
  border: 1px solid red;
  color: #2f80ed;
  line-height: 1.2;
  width: 175px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 0 auto 0;
}

.description__two-columns_main-text {
  display: flex;
  width: 80%;
  flex-direction: column;
  border: 1px solid red;
  line-height: 34px;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__paragraph {
  border: 1px solid red;
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
}

.span-accent {
  font-weight: 700;
}
.digits {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  border: 1px solid red;
  width: 60%;
  margin: 0 auto 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15;
  padding-bottom: 20px;
  text-align: center;
}
.section-subtitle {
  border: 1px solid red;
  width: 60%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  align-items: center;
}
.table {
  border: 1px solid red;
  display: flex;
  width: 1100px;
  margin: 0 auto;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.table__cell {
  border: 1px solid red;
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  border: 1px solid red;
  font-size: 24px;
  line-height: 1.15;
  margin: 0 auto;
}
.table__text:last-child {
  margin-bottom: 0;
}
.table__text {
  border: 1px solid red;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
}
.feynman {
  border: 1px solid red;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #f2f2f2;
  position: relative;
}
.feynman__title {
  border: 1px solid red;
  margin: 100px 0 70px 0;
  width: 648px;
  text-align: center;
  font-weight: 700;
  line-height: 1.15;
  font-size: 120px;
  z-index: 2;
}
.feynman__subtitle {
  border: 1px solid red;
  font-weight: 400;
  line-height: 51px;
  font-size: 36px;
  z-index: 2;
}
.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  font-weight: 400;
  line-height: 51px;
  font-size: 36px;
  right: 48px;
}
.kaufman {
  position: relative;
  background-color: #000000;
  overflow: hidden;
  padding: 90px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  background-size: cover;
  right: -210px;
  z-index: 0;
}

.section-title_theme_dark {
  border: 1px solid red;
  color: white;
}

.section-subtitle_theme_dark {
  border: 1px solid red;
  color: white;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.footer {
  border: 1px solid red;
  min-height: 350px;
  background-color: #000000;
  display: flex;
  
}
.footer__columns {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer {
  border: 1px solid red;
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
  height: 35px;
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.footer__column-heading {
  border: 1px solid red;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700px;
  color: white;
}
.footer__column-links a{
  color: white;
  line-height: 30px;
  font-size: 18px;
}
