.khan__buy-link {
    margin: 0;
    font-size: 30px;
   font-weight: 400;
   line-height: 42px;
   text-decoration: none;
   color:#2f80ed;
   margin-left: 48px;
   cursor: pointer;
   transition: opacity .3s linear;
  }

  .khan__buy-link:hover {
    opacity: .5;
   }